.comment small {
  display: inline-block;
  color: #aaa;
  margin-bottom: .5rem;
}

.comment {
  margin: 1rem auto;
  padding: 8px;
  border: 1px solid #ddd;
  /* width: 100%; */
}

.comments {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  overflow: auto;
}